<div class="home-container" style="background: url('/assets/task1.jpg') no-repeat center center/cover;">
    
    <!-- Top Border -->
    <div class="top-border">
        <h1>
            <span class="welcome-text">welcome</span> to 
            <span class="trackify-text" style="color: rgb(255, 255, 255);">TRACKIFY</span>
          </h1>          
    </div>
  
    <!-- Introduction -->
    <div class="introduction">
      <p>
        Trackify is your buddy for getting stuff done! ✍️📚<br> 
        🎯 Create, check, update, or toss tasks with ease.<br> 
        Add details like what, when, and whether it’s done—boom, organized! <br>
        From tiny to-dos to big projects, Trackify keeps you on track,<br> 
        So you can crush deadlines like a boss.<br> 
        ✨ Simple, sleek, and totally on your side! ✨
      </p>
    </div>
  
    <!-- Buttons -->
    <div class="corner-buttons">
      <button mat-raised-button color="primary" class="left-btn" routerLink="/task-list">Task List</button>
      <button mat-raised-button color="accent" class="right-btn" routerLink="/task-form">Add Task</button>
    </div>
  </div>
  